#easytests-parselog div {
    font-family: monospace;
}

#easytests-parselog pre {
    padding: 0;
}

.easytests-log-error {
    color: white;
    background-color: red;
}

.easytests-log-warn {
    color: black;
    background-color: #ffff00;
}

.easytests-log-info {
    color: #008000;
}
